{% extends 'base.html' %}

{% block content %}
<!-- <script src="https://cdn.jsdelivr.net/npm/three@0.141.0/build/three.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.141.0/examples/jsm/loaders/GLTFLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.141.0/examples/jsm/controls/OrbitControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.141.0/examples/jsm/controls/DragControls.js"></script> -->

<script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.141.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.141.0/examples/jsm/"
        }
    }
</script>

<div id="scene"></div>
{% include "modals.html" %}

<script type="module" src="../../static/js/carbon_polygon_scene.js"></script>

{% endblock %}