{% extends 'base.html' %}

{% block content %}
<!-- <script src="https://cdn.jsdelivr.net/npm/three@0.115.0/build/three.min.js"></script> -->
<script src="https://threejs.org/build/three.js"></script>
<script src="https://threejs.org/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>

<div id="scene"></div>
{% include "modals.html" %}

<script>
    function init() {
        const container = document.querySelector("#scene");

        const scene = new THREE.Scene();
        scene.background = new THREE.Color(0x274717);

        const camera = new THREE.PerspectiveCamera(45, window.innerWidth/window.innerHeight, 1, 5000);
        camera.position.set(-292, 708, 265);
        camera.lookAt(scene.position);
        
        const controls = new THREE.OrbitControls(camera, container);
        controls.maxPolarAngle = 1.2;
        controls.update();

        const lights = createLights();
        const buttons = createButtons();

        scene.add(
            lights.ambient,
            lights.dirLight,
            ...buttons
        );

        const renderer = createRenderer(container);

        setupOnWindowResize(camera, container, renderer);

        renderer.setAnimationLoop(() => {
            renderer.render(scene, camera);
        });

        let loader = new THREE.GLTFLoader();
        loader.load('../../static/3d_model/scene2.glb', (gltf) => {
            let mroot = gltf.scene;
            let bbox = new THREE.Box3().setFromObject(mroot);
            let cent = bbox.getCenter(new THREE.Vector3());
            let size = bbox.getSize(new THREE.Vector3());

            // Rescale the object to normalized space
            let maxAxis = Math.max(size.x, size.y, size.z);
            mroot.scale.multiplyScalar(900.0 / maxAxis);
            bbox.setFromObject(mroot);
            bbox.getCenter(cent);
            bbox.getSize(size);

            //Reposition to 0,halfY,0
            mroot.position.copy(cent).multiplyScalar(-1);
            mroot.position.y-= (size.y * 0.5); 
            scene.add(gltf.scene);

        });

        setupSelectAndZoom(camera, container, controls, buttons, renderer);
    };

    function makeButton(name, x, y, z, rotateY=0) {
        let width = 9;
        let height = 9;

        let texture = new THREE.TextureLoader().load('../../static/img/icon.jpg');

        let geometry = new THREE.CircleGeometry(width, height);
        geometry.rotateX(30);
        geometry.rotateY(rotateY);

        let material = new THREE.MeshPhongMaterial({
            opacity: 5,
            // color: new THREE.Color(0xFF0000),
            blending: THREE.NoBlending,
            side: THREE.DoubleSide,
            map: texture
        });

        let mesh = new THREE.Mesh(geometry, material);
        mesh.position.set(x, y, z);
        mesh.name = name;
        return mesh;

        // let geometry = new THREE.CircleGeometry(width, height);
        // geometry.rotateX(30);

        // let material = new THREE.MeshPhongMaterial({
        //     opacity: 5,
        //     color: new THREE.Color(0xFF0000),
        //     blending: THREE.NoBlending,
        //     side: THREE.DoubleSide,
        // });

        // let mesh = new THREE.Mesh(geometry, material);
        // mesh.position.set(x, y, z);
        // mesh.name = name;
        // return mesh;
    };

    function createButtons() {
        let buttons = [];

        buttons.push(makeButton('button1', 29, -70, -122, 30));
        buttons.push(makeButton('button2', 70, -60, -180));
        buttons.push(makeButton('button3', 90, -70, 55, 30));
        buttons.push(makeButton('button4', -35, -70, -68, 30));
        buttons.push(makeButton('button5', -35, -70, 50, 30));

        return buttons
    };

    function createLights() {
        const ambient = new THREE.AmbientLight(0xFFFFFF, 1);

        const dirLight = new THREE.DirectionalLight(0xFFFFFF, 0.8);
        dirLight.position.set(10, 4000, 100);

        return {ambient, dirLight};
    };

    function createRenderer(container) {
        const renderer = new THREE.WebGLRenderer({ antialias: true });
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.toneMappingExposure = 2;
        container.appendChild(renderer.domElement);

        return renderer;
    };

    function setupOnWindowResize(camera, container, renderer) {
        window.addEventListener("resize", () => {
            camera.aspect = window.innerWidth/window.innerHeight;
            renderer.setSize(window.innerWidth, window.innerHeight);
        });
    }

    init();

    function setupSelectAndZoom(camera, container, controls, buttons, renderer) {
        const selection = [];

        let isDragging = false;
        const mouse = new THREE.Vector2();
        const raycaster = new THREE.Raycaster();

        container.addEventListener("mousedown", () => { isDragging = false; }, false);
        container.addEventListener("mousemove", () => { isDragging = true; }, false);

        window.addEventListener("mouseup", (event) => {
            if (isDragging) {
                isDragging = false;
                return;
            }

            isDragging = false;

            let rect = renderer.domElement.getBoundingClientRect();

            mouse.x = ((event.clientX - rect.left) / (rect.width - rect.left)) * 2 - 1;
            mouse.y = - ((event.clientY - rect.top) / (rect.bottom - rect.top)) * 2 + 1;
            raycaster.setFromCamera(mouse, camera);

            const intersects = raycaster.intersectObjects(buttons);

                if (intersects.length > 0) {
                    console.log(intersects[0].object.name)
                    
                    if (intersects[0].object.name === 'button1') {
                        let button1Modal = new bootstrap.Modal(document.getElementById('button1Modal'), {
                            keyboard: false
                        });
                        button1Modal.show()
                    }
                    if (intersects[0].object.name === 'button2') {
                        let button1Modal = new bootstrap.Modal(document.getElementById('button2Modal'), {
                            keyboard: false
                        });
                        button1Modal.show()
                    }
                    if (intersects[0].object.name === 'button3') {
                        let button1Modal = new bootstrap.Modal(document.getElementById('button3Modal'), {
                            keyboard: false
                        });
                        button1Modal.show()
                    }
                    if (intersects[0].object.name === 'button4') {
                        let button1Modal = new bootstrap.Modal(document.getElementById('button4Modal'), {
                            keyboard: false
                        });
                        button1Modal.show()
                    }
                    if (intersects[0].object.name === 'button5') {
                        let button1Modal = new bootstrap.Modal(document.getElementById('button5Modal'), {
                            keyboard: false
                        });
                        button1Modal.show()
                    }

                }

            }, false);
    };

</script>

{% endblock %}