{% extends 'base.html' %}

{% block content %}
<!-- <script src="https://cdn.jsdelivr.net/npm/three@0.115.0/build/three.min.js"></script> -->
<script src="https://threejs.org/build/three.js"></script>
<script src="https://threejs.org/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="https://threejs.org/examples/js/renderers/CSS2DRenderer.js"></script>

<div class="captions">
    <div class="item y2021"><nobr>Запущены в 2021 г.</nobr></div>
    <div class="item y2022"><nobr>Запуск в 2022 г.</nobr></div>
    <div class="item y2023"><nobr>К запуску в 2022-2023 г.г.</nobr></div>
</div>

<div id="scene"></div>
{% include "modals.html" %}

<script src="../../static/js/carbon_data.js"></script>
<script src="../../static/js/russia_scene.js"></script>

{% endblock %}