{% extends 'base.html' %}

{% block content %}

    <!-- <div id="css"></div> -->
    <div id="scene"></div>
    {% include "modals.html" %}
    
    <script src="https://cdn.jsdelivr.net/npm/three@0.115.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.115.0/examples/js/renderers/CSS3DRenderer.js"></script>

    <script>
        let scene, camera, renderer, renderer2;

        scene = new THREE.Scene();
        scene.background = new THREE.Color(0x8EFF4E);

        camera = new THREE.PerspectiveCamera(45, window.innerWidth/window.innerHeight, 1, 1000);
        camera.position.set(-292, 708, 265);
        camera.lookAt(scene.position);

        renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.toneMappingExposure = 2;
        document.querySelector('#scene').appendChild(renderer.domElement);

        window.addEventListener('resize', () => {
            renderer.setSize(window.innerWidth, window.innerHeight);
            camera.aspect = window.innerWidth/window.innerHeight;
        });


        let controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.update();


        let loader = new THREE.GLTFLoader();
        loader.load('../../static/3d_model/scene.glb', (gltf) => {
            let mroot = gltf.scene;
            let bbox = new THREE.Box3().setFromObject(mroot);
            let cent = bbox.getCenter(new THREE.Vector3());
            let size = bbox.getSize(new THREE.Vector3());

            //Rescale the object to normalized space
            let maxAxis = Math.max(size.x, size.y, size.z);
            mroot.scale.multiplyScalar(900.0 / maxAxis);
            bbox.setFromObject(mroot);
            bbox.getCenter(cent);
            bbox.getSize(size);

            //Reposition to 0,halfY,0
            mroot.position.copy(cent).multiplyScalar(-1);
            mroot.position.y-= (size.y * 0.5);

            // light
            let ambientLight = new THREE.AmbientLight(0xFFFFFF, 0.3);
            scene.add(ambientLight);

            let dirLight = new THREE.DirectionalLight(0xFFFFFF, 0.8);
            dirLight.position.set(10, 4000, 100);
            scene.add(dirLight);

            scene.add(gltf.scene);
            animate();
        })


        function animate() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }
        animate();


        function makeButton(name, x, y, z) {
            let width = 9;
            let height = 9;

            let geometry = new THREE.CircleGeometry(width, height);
            geometry.rotateX(30);

            let material = new THREE.MeshPhongMaterial({
                opacity	: 0.15,
                color	: new THREE.Color(0xFF0000),
                blending: THREE.NoBlending,
                side	: THREE.DoubleSide,
            });

            let mesh = new THREE.Mesh(geometry, material);
            mesh.position.set(x, y, z);
            mesh.name = name;
            scene.add(mesh);
        };


        // buttons
        let button1 = makeButton('button1', 29, -70, -172);
        let button2 = makeButton('button2', 70, -60, -230);
        let button3 = makeButton('button3', 90, -70, 5);
        let button4 = makeButton('button4', -35, -70, -120);
        let button5 = makeButton('button5', -35, -70, 3);


        let raycaster = new THREE.Raycaster();
        let mouse = new THREE.Vector2();

        function onMouseClick( event ) {
            raycaster.setFromCamera(mouse, camera);
            let intersect = raycaster.intersectObjects(scene.children);
                
            try {
                if (intersect[0].object.name === 'button1') {
                    let button1Modal = new bootstrap.Modal(document.getElementById('button1Modal'), {
                        keyboard: false
                    });
                    button1Modal.show()
                }
                if (intersect[0].object.name === 'button2') {
                    let button1Modal = new bootstrap.Modal(document.getElementById('button2Modal'), {
                        keyboard: false
                    });
                    button1Modal.show()
                }
                if (intersect[0].object.name === 'button3') {
                    let button1Modal = new bootstrap.Modal(document.getElementById('button3Modal'), {
                        keyboard: false
                    });
                    button1Modal.show()
                }
                if (intersect[0].object.name === 'button4') {
                    let button1Modal = new bootstrap.Modal(document.getElementById('button4Modal'), {
                        keyboard: false
                    });
                    button1Modal.show()
                }
                if (intersect[0].object.name === 'button5') {
                    let button1Modal = new bootstrap.Modal(document.getElementById('button5Modal'), {
                        keyboard: false
                    });
                    button1Modal.show()
                }
                console.log(intersect[0].object.name)
            } catch {
                console.log(intersect)
            }
        }

        function onMouseMove( event ) {
            mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
            mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;
        }

        window.addEventListener( 'click', onMouseClick, false );
        window.addEventListener( 'mousemove', onMouseMove, false );

    </script>
{% endblock %}