<div class="modal fade" id="button1Modal" tabindex="-1" aria-labelledby="button1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="button1ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe mozallowfullscreen="true" allow="autoplay; fullscreen"
                    src="../../static/webgl/Button1/index.html"
                    scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true"
                    allowtransparency="true" frameborder="0" marginheight="px" marginwidth="320px" height="540px%" width="100%">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="button2Modal" tabindex="-1" aria-labelledby="button2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="button2ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe mozallowfullscreen="true" allow="autoplay; fullscreen"
                    src="../../static/webgl/Button1/index.html"
                    scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true"
                    allowtransparency="true" frameborder="0" marginheight="px" marginwidth="320px" height="540px%" width="100%">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="button3Modal" tabindex="-1" aria-labelledby="button3ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="button3ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe mozallowfullscreen="true" allow="autoplay; fullscreen"
                    src="../../static/webgl/Button1/index.html"
                    scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true"
                    allowtransparency="true" frameborder="0" marginheight="px" marginwidth="320px" height="540px%" width="100%">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="button4Modal" tabindex="-1" aria-labelledby="button4ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="button4ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe mozallowfullscreen="true" allow="autoplay; fullscreen"
                    src="../../static/webgl/Button1/index.html"
                    scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true"
                    allowtransparency="true" frameborder="0" marginheight="px" marginwidth="320px" height="540px%" width="100%">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="button5Modal" tabindex="-1" aria-labelledby="button5ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="button5ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe mozallowfullscreen="true" allow="autoplay; fullscreen"
                    src="../../static/webgl/Button1/index.html"
                    scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true"
                    allowtransparency="true" frameborder="0" marginheight="px" marginwidth="320px" height="540px%" width="100%">
                </iframe>
            </div>
        </div>
    </div>
</div>
