<div class="modal fade" id="pinModal" tabindex="-1" aria-labelledby="pinModalLabel" aria-hidden="true">
<div class="modal fade" id="pinModal" tabindex="-1" aria-labelledby="pinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pinModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="title"></h3>
                <p class="location"></p>
                <p class="operator">Оператор: <span></span></p>
                <p class="type">Тип: <span></span></p>
                <p class="size">Размер: <span></span></p>
                <p class="number-plots">Количество участков: <span></span></p>
                <p class="industrial-partner">Индустриальный партнер: <span></span></p>
                <a class="btn btn-success" style="display: none;" href="{% url 'carbon' %}">Прогулка по карбоновому полигону</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="webglButtonModal" tabindex="-1" aria-labelledby="webglButtonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="webglButtonModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe mozallowfullscreen="true" allow="autoplay; fullscreen"
                    src="#"
                    scrolling="no" msallowfullscreen="true" allowfullscreen="true" webkitallowfullscreen="true"
                    allowtransparency="true" frameborder="0" marginheight="px" marginwidth="320px" height="540px%" width="100%">
                </iframe>
            </div>
        </div>
    </div>
</div>
